<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "wirtualnaApteczka"
        version     = "1.0.0" >

    <name>WirtualnaApteczka</name>
    <description>Aplikacja hybrydowa zrealizowana w ramach przedmiotu Bogate Aplikacje Internetowe</description>
    <author>
		Marcin Róg, Mateusz Lis, Dariusz Śpicha, Piotr Wójcikiewicz
	</author>
	
	<!-- icons & splashscreen for Android -->
	<platform name="android">
		
		<!-- Icons -->
		<icon density="ldpi" src="res/icons/android/drawable-ldpi-icon.png" />
		<icon density="mdpi" src="res/icons/android/drawable-mdpi-icon.png" />
		<icon density="hdpi" src="res/icons/android/drawable-hdpi-icon.png" />
		<icon density="xhdpi" src="res/icons/android/drawable-xhdpi-icon.png" />
		<icon density="xxhdpi" src="res/icons/android/drawable-xxhdpi-icon.png" />
		<icon density="xxxhdpi" src="res/icons/android/drawable-xxxhdpi-icon.png" />
		<icon src="icon.png"> <!-- default icon -->
		
		<!-- Splashscreen -->
		<splash density="land-ldpi" src="res/screens/android/drawable-land-ldpi-screen.png" />
		<splash density="land-mdpi" src="res/screens/android/drawable-land-mdpi-screen.png" />
		<splash density="land-hdpi" src="res/screens/android/drawable-land-hdpi-screen.png" />
		<splash density="land-xhdpi" src="res/screens/android/drawable-land-xhdpi-screen.png" />
		<splash density="land-xxhdpi" src="res/screens/android/drawable-land-xxhdpi-screen.png" />
		<splash density="land-xxxhdpi" src="res/screens/android/drawable-land-xxxhdpi-screen.png" />
		<splash density="port-ldpi" src="res/screens/android/drawable-port-ldpi-screen.png" />
		<splash density="port-mdpi" src="res/screens/android/drawable-port-mdpi-screen.png" />
		<splash density="port-hdpi" src="res/screens/android/drawable-port-hdpi-screen.png" />
		<splash density="port-xhdpi" src="res/screens/android/drawable-port-xhdpi-screen.png" />
		<splash density="port-xxhdpi" src="res/screens/android/drawable-port-xxhdpi-screen.png" />
		<splash density="port-xxxhdpi" src="res/screens/android/drawable-port-xxxhdpi-screen.png" />
		<splash src="splash.png" /> <!-- default splash -->
		
		<preference name="SplashShowOnlyFirstTime" value="true"/>
		<preference name="SplashScreenDelay" value="3000" />
    </platform>
	
	<!-- plugins -->
	<plugin name="cordova-plugin-splashscreen" source="npm" />
	<plugin name="cordova-plugin-device" spec="2.0.1" />
	<plugin name="cordova-plugin-dialogs" spec="2.0.1" />

</widget>
