<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "wirtualnaApteczka"
        version     = "1.0.0" >

    <name>WirtualnaApteczka</name>
    <description>Aplikacja hybrydowa zrealizowana w ramach przedmiotu Bogate Aplikacje Internetowe</description>
    <author>
		Marcin Róg, Mateusz Lis, Dariusz Śpicha, Piotr Wójcikiewicz
	</author>
	<platform name="android" />
	<icon src="www/img/logo.jpg" />
	<plugin name="cordova-plugin-device" spec="2.0.1" />
	<plugin name="cordova-plugin-dialogs" spec="2.0.1" />
    
    <!-- firebase login -->
    <plugin name="cordova-plugin-buildinfo"  />
	<plugin name="cordova-universal-links-plugin" />
	<plugin name="cordova-plugin-browsertab"  />
	<plugin name="cordova-plugin-inappbrowser" />
    <!-- end -->
    
    <plugin name="cordova-plugin-whitelist" source="npm" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    
    <universal-links>
        <host name="wirtualnaapteczka.firebaseapp.com" scheme="https" />
<!--        <host name="AUTH_DOMAIN" scheme="https">
            <path url="/__/auth/callback"/>
        </host>-->
    </universal-links>
</widget>
