<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "com.wirtualnaapteczka.android"
        version     = "1.0.0" >

    <name>WirtualnaApteczka</name>
    <description>Aplikacja hybrydowa zrealizowana w ramach przedmiotu Bogate Aplikacje Internetowe</description>
    <author>
		Marcin Róg, Mateusz Lis, Dariusz Śpicha, Piotr Wójcikiewicz
	</author>
	
	<!-- icons & splashscreen for Android -->
	<platform name="android">
		<preference name="SplashScreen" value="screen"/>
		<preference name="SplashScreenDelay" value="4000" />
		<preference name="SplashShowOnlyFirstTime" value="false" />
		
		<!-- Icons -->
		<icon density="ldpi" src="res/icon/android/ldpi.png"/>
		<icon density="mdpi" src="res/icon/android/mdpi.png"/>
		<icon density="hdpi" src="res/icon/android/hdpi.png"/>
		<icon density="xhdpi" src="res/icon/android/xhdpi.png"/>
		<icon density="xxhdpi" src="res/icon/android/xxhdpi.png"/>
		<icon density="xxxhdpi" src="res/icon/android/xxxhdpi.png"/>
		<icon src="icon.png" /> <!-- default icon -->
		
		<!-- Splashscreen -->
		<splash qualifier="port-ldpi" src="res/screen/android/splash-port-ldpi.png"/>
		<splash qualifier="port-mdpi" src="res/screen/android/splash-port-mdpi.png"/>
		<splash qualifier="port-hdpi" src="res/screen/android/splash-port-hdpi.png"/>
		<splash qualifier="port-xhdpi" src="res/screen/android/splash-port-xhdpi.png"/>
		<splash qualifier="port-xxhdpi" src="res/screen/android/splash-port-xxhdpi.png"/>
		<splash qualifier="port-xxxhdpi" src="res/screen/android/splash-port-xxxhdpi.png"/>
		<splash qualifier="land-ldpi" src="res/screen/android/splash-land-ldpi.png"/>
        <splash qualifier="land-mdpi" src="res/screen/android/splash-land-mdpi.png"/>
        <splash qualifier="land-hdpi" src="res/screen/android/splash-land-hdpi.png"/>
        <splash qualifier="land-xhdpi" src="res/screen/android/splash-land-xhdpi.png"/>
        <splash qualifier="land-xxhdpi" src="res/screen/android/splash-land-xxhdpi.png"/>
        <splash qualifier="land-xxxhdpi" src="res/screen/android/splash-land-xxxhdpi.png"/>
		<splash src="splash.png" /> <!-- default splash -->
    </platform>
	
	<!-- plugins -->
	<plugin name="cordova-plugin-splashscreen" source="npm" />

	<plugin name="cordova-plugin-device" spec="2.0.1" />
	<plugin name="cordova-plugin-dialogs" spec="2.0.1" />
    
    <!-- firebase login -->
    <plugin name="cordova-plugin-buildinfo"  />
	<plugin name="cordova-universal-links-plugin" />
	<plugin name="cordova-plugin-browsertab"  />
	<plugin name="cordova-plugin-inappbrowser" />
    <preference name="AndroidLaunchMode" value="singleTask" />
	<preference name="DisallowOverscroll" value="true" />
    <!-- end -->
    
    <plugin name="cordova-plugin-whitelist" source="npm" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    
	<!--fb and google login -->
    <universal-links>
    	<host name="ux743.app.goo.gl" scheme="https" />
    	<host name="wirtualnaapteczka.firebaseapp.com" scheme="https">
        	<path url="/__/auth/callback"/>
    	</host>
	</universal-links>

	<plugin name="cordova-plugin-googleplus" source="npm" spec="5.2.1">
		<variable name="REVERSED_CLIENT_ID" value="com.googleusercontent.apps.com.wirtualnaapteczka.android" />
 		<variable name="WEB_APPLICATION_CLIENT_ID" value="292234828986-rfmfeum1humdc1r7cjl80gmv1rj7n8fh.apps.googleusercontent.com" />
 	</plugin>
		
	<plugin name="cordova-plugin-facebook4" source="npm" spec="1.7.4">
 		<variable name="APP_ID" value="2067686196811637" />
		<variable name="APP_NAME" value="WirtualnaApteczka" />
	</plugin>

	<meta http-equiv="Content-Security-Policy" content="default-src *; style-src * 'unsafe-inline'; script-src * 'unsafe-inline'; media-src *; img-src * data:;"/>

</widget>
