.napis_logo {
    margin-bottom: 20%;
    font-size: 25pt;
    font-family: Cambria;
    font-weight: bold;
}

.logo {
    margin-block-start: 50pt;
}

.regul {
    max-width: 100%;
    text-align: justify;
    font-family: Cambria;
}

[data-role="header"],
[data-role="footer"] {
    text-align: center;
}

.text-center, .center {
    text-align: center;
}

.ui-content {
    /*background-color: #e8f7ff !important;*/
}

.custom-header,
[data-role="footer"] {
    /*background-color: #ADE2FF !important;*/
}

.custom-header a.ui-icon-carat-l {
    margin-bottom: 11px;
    margin-top: 11px;
}

.custom-header .ui-block-a,
.custom-header .ui-block-c {
    width: 15%;
}

.custom-header .ui-block-b {
    width: 70%;
}

.expired-medicament-date {
    background-color: #d9534f;
    color: #FFFFFF;
    text-shadow: none;
    border-radius: 10px;
}